<!doctype html>
<html>
<head>
  <title>Info</title>
  <link rel="stylesheet" href="assets/main.css"/>
  <script src="assets/javascripts/jquery.min.js"></script>
  <script src="assets/javascripts/mustache.min.js"></script>
  <script src="assets/index.js"></script>
  <% include functions/functions.ejs %>
</head>

  <body>
    <header>
      <% include partials/nav.ejs %>
    </header>

    <div id="everything">
      <div id="currentCatagory">
        <script type="text/javascript">
          displayTopics();
        </script>
      </div>
      <div id="info">

        <form class="ImportForm" action="/upload" method="post">
          <input id="add-character" class="uploadButton" type="submit" value="Upload Character" /><br>
          <input name="name" class="characterTitle" value="<%= chara.name %>" id="inputName"><br>
          <input name="size" class="characterBasicInfoTitle" value="<%= chara.size %>">
          <input name="type" class="characterBasicInfoTitle" value="<%= chara.type %>">
          <input name="alignment" class="characterBasicInfoTitle" value="<%= chara.alignment %>"><br>
          <br>

          <% displayInfoInput("armor_class", "Armor Class") %>
          <% displayInfoInput("hit_points", "Hit Points") %>
          <% displayInfoInput("speed", "Speed") %>
          <br>

          <table class="abilityScoreTable">
            <thead>
              <th class="statsTitle">Str</th>
              <th class="statsTitle">Dex</th>
              <th class="statsTitle">Con</th>
              <th class="statsTitle">Int</th>
              <th class="statsTitle">Wis</th>
              <th class="statsTitle">Cha</th>
            </thead>
            <tbody>
              <td class="statsValue"><%= displayAbilityScoreInput("strength") %></td>
              <td class="statsValue"><%= displayAbilityScoreInput("dexterity") %></td>
              <td class="statsValue"><%= displayAbilityScoreInput("constitution") %></td>
              <td class="statsValue"><%= displayAbilityScoreInput("intelligence") %></td>
              <td class="statsValue"><%= displayAbilityScoreInput("wisdom") %></td>
              <td class="statsValue"><%= displayAbilityScoreInput("charisma") %></td>
            </tbody>
          </table><br>

          <% displayInfoInput("damage_vulnerabilities", "Vunerable") %>
          <% displayInfoInput("damage_resistances", "Resistance") %>
          <% displayInfoInput("damage_immunities", "Immunities") %>
          <% displayInfoInput("condition_immunities", "Condition Immunities") %>
          <% displayInfoInput("senses", "Senses") %>
          <% displayInfoInput("languages", "Languages") %>
          <% displayInfoInput("challenge_rating", "Challenge") %>

          <div id="special_abilities">
            <% displayAllActionsInput(chara.special_abilities, "Special Abilities", "temp_special_abilities"); %>
          </div>
          <button class="addAction" type="button" name="button" onclick="addAction('#special_abilities')">Add</button><br>

          <div id="actions">
            <% displayAllActionsInput(chara.actions, "Actions", "temp_actions"); %>
          </div>
          <button class="addAction" type="button" name="button" onclick="addAction('#actions')">Add</button><br>
          <br>
        </form>
      </div>
    </div>

    <footer class="footer">
      <h3>©My Site 2019</h3>
    </footer>
  </body>
</html>
