<!doctype html>
<html>
<head>
  <title>Info</title>
  <link rel="stylesheet" href="assets/main.css"/>
  <script src="assets/javascripts/jquery.min.js"></script>
  <script src="assets/javascripts/mustache.min.js"></script>
  <% include functions/functions.ejs %>

</head>

  <body>
    <header>
      <% include partials/nav.ejs %>
    </header>

    <div id="everything">
      <div id="info">
        <h2 class="characterTitle"><%= chara.name %></h2><br>
        <h4 class="characterBasicInfoTitle"><%= chara.size %>, <%= chara.type %>, <%= chara.alignment %></h4><br>
        <br>
        
        <% displayInfo(chara.armor_class, "Armor Class") %>
        <% displayInfo(chara.hit_points, "Hit Points") %>
        <% displayInfo(chara.speed, "Speed") %>
        <br>

        <table class="abilityScoreTable">
          <thead>
            <th class="statsTitle">Str</th>
            <th class="statsTitle">Dex</th>
            <th class="statsTitle">Con</th>
            <th class="statsTitle">Int</th>
            <th class="statsTitle">Wis</th>
            <th class="statsTitle">Cha</th>
          </thead>
          <tbody>
            <td class="statsValue"><%= displayAbilityScore(chara.strength) %></td>
            <td class="statsValue"><%= displayAbilityScore(chara.dexterity) %></td>
            <td class="statsValue"><%= displayAbilityScore(chara.constitution) %></td>
            <td class="statsValue"><%= displayAbilityScore(chara.intelligence) %></td>
            <td class="statsValue"><%= displayAbilityScore(chara.wisdom) %></td>
            <td class="statsValue"><%= displayAbilityScore(chara.charisma) %></td>
          </tbody>
        </table><br>

        <% displayInfo(chara.damage_vulnerabilities, "Vunerable") %>
        <% displayInfo(chara.damage_resistances, "Resistance") %>
        <% displayInfo(chara.damage_immunities, "Immunities") %>
        <% displayInfo(chara.condition_immunities, "Condition Immunities") %>
        <% displayInfo(chara.senses, "Senses") %>
        <% displayInfo(chara.languages, "Languages") %>
        <% displayInfo(chara.challenge_rating, "Challenge") %>

        <% displayAllActions(chara.special_abilities, "Special Abilities"); %>
        <% displayAllActions(chara.actions, "Actions"); %>
        <br>

        <form action="/" class="backButton">
          <input type="submit" value="Back" />
        </form>
      </div>
    </div>

    <footer>
      <h3>©My Site 2019</h3>
    </footer>
  </body>
</html>
