<!doctype html>
<html>
<head>
  <title>Info</title>
  <link rel="stylesheet" href="assets/main.css"/>
  <script src="assets/javascripts/jquery.min.js"></script>
  <script src="assets/javascripts/mustache.min.js"></script>
  <% include functions/functions.ejs %>

</head>

  <body>
    <header>
      <% include partials/nav.ejs %>
    </header>

    <div id="everything">
      <div id="info">
        <h2 class="characterTitle"><%= chara.name %></h2><br>
        <h4 class="characterBasicInfoTitle"><%= chara.size %>, <%= chara.type %>, <%= chara.alignment %></h4><br>
        <br>

        <% displayInfo("armor_class", "Armor Class") %>
        <% displayInfo("hit_points", "Hit Points") %>
        <% displayInfo("speed", "Speed") %>
        <br>

        <table class="abilityScoreTable">
          <thead>
            <th class="statsTitle">Str</th>
            <th class="statsTitle">Dex</th>
            <th class="statsTitle">Con</th>
            <th class="statsTitle">Int</th>
            <th class="statsTitle">Wis</th>
            <th class="statsTitle">Cha</th>
          </thead>
          <tbody>
            <td class="statsValue"><%= displayAbilityScore("strength") %></td>
            <td class="statsValue"><%= displayAbilityScore("dexterity") %></td>
            <td class="statsValue"><%= displayAbilityScore("constitution") %></td>
            <td class="statsValue"><%= displayAbilityScore("intelligence") %></td>
            <td class="statsValue"><%= displayAbilityScore("wisdom") %></td>
            <td class="statsValue"><%= displayAbilityScore("charisma") %></td>
          </tbody>
        </table><br>

        <% displayInfo("damage_vulnerabilities", "Vunerable") %>
        <% displayInfo("damage_resistances", "Resistance") %>
        <% displayInfo("damage_immunities", "Immunities") %>
        <% displayInfo("condition_immunities", "Condition Immunities") %>
        <% displayInfo("senses", "Senses") %>
        <% displayInfo("languages", "Languages") %>
        <% displayInfo("challenge_rating", "Challenge") %>

        <% displayAllActions(chara.special_abilities, "Special Abilities"); %>
        <% displayAllActions(chara.actions, "Actions"); %>
        <br>

        <form action="/" >
          <input class="backButton" type="submit" value="Back" />
        </form><br>
      </div>
    </div>

    <footer>
      <h3>©My Site 2019</h3>
    </footer>
  </body>
</html>
