<% displayAbilityScore = function(name){ %>
  <td class="statsValue"><%= chara[name] %> (<%= checkSign(parseInt((chara[name]-10)/2)) %>)</td>
<% } %>

<% checkSign = function(value){
  if(value >= 0){
    return "+"+value;
  }

  return value;
} %>

<% displayInfo = function(damageInfoName, displayName){
    if(chara[damageInfoName] != ""){ %>
      <h4 class="characterBasicInfoTitle"><%= displayName %>:</h4>
      <p name=damageInfoName class="characterBasicInfo"><%= chara[damageInfoName] %></p><br>
 <% }
   } %>

<% displayAllActions = function(actions, titleDisplayName){
   if(actions != null){ %>
    <h2 class="characterTitle"> <%= titleDisplayName %></h2><br>
    <% actions.forEach(function(element){ %>
      <h4 class="actionTitle"><%= element.name %></h4>
      <p class="actionInfo"><%= element.desc %></p>
    <% }); %>
  <% }
}%>

<% displayAbilityScoreInput = function(statName){ %>
  <input name="<%=statName %>"  type="text" class="statsValue" value="<%= chara[statName] %>"></input>
<% } %>

<% checkSign = function(value){
  if(value >= 0){
    return "+"+value;
  }

  return value;
} %>

<% displayInfoInput = function(damageInfoName, displayName){ %>
  <h4 type="text" class="characterBasicInfoTitle"><%= displayName %>:</h4>
 <% if(chara[damageInfoName] != ""){ %>
      <input name="<%=damageInfoName %>" type="text" class="characterBasicInfo" value="<%= chara[damageInfoName] %>"><br>
 <% } else { %>
      <input name="<%=damageInfoName %>" type="text" class="characterBasicInfo" value=""><br>
 <% }
   } %>

<% addAction = function(){%>
  <input class="actionTitle" value=""></input><br>
  <input class="actionInfo" value=""></input><br><br>
<%}%>

<% displayAllActionsInput = function(actions, titleDisplayName, actionTempJsonName){ %>
    <h2 class="characterTitle"> <%= titleDisplayName %></h2><br>
    <% if(actions != null){ %>
    <% actions.forEach(function(element){ %>
      <input name='<%=actionTempJsonName+"_name"%>' class="actionTitle" value="<%= element.name %>"></input><br>
      <input name="<%=actionTempJsonName+"_desc" %>" class="actionInfo" value="<%= element.desc %>"></input><br><br>
    <% }); %>
  <% }
}%>
