<% displayAbilityScore = function(name){ %>
  <td class="statsValue"><%= chara[name] %> (<%= checkSign(parseInt((chara[name]-10)/2)) %>)</td>
<% } %>

<% checkSign = function(value){
  if(value >= 0){
    return "+"+value;
  }

  return value;
} %>

<% displayInfo = function(damageInfoName, displayName){
    if(chara[damageInfoName] != ""){ %>
      <h4 class="characterBasicInfoTitle"><%= displayName %>:</h4>
      <p name=damageInfoName class="characterBasicInfo"><%= chara[damageInfoName] %></p><br>
 <% }
   } %>

<% displayAllActions = function(actions, titleDisplayName){
   if(actions != null){
     if(actions.length != 0){ %>
       <h2 class="characterTitle"> <%= titleDisplayName %></h2><br>
       <% actions.forEach(function(element){ %>
         <h3 class="actionTitle"><%= element.name %></h3>
         <p class="actionInfo"><%= element.desc %></p>
    <% });
      }
    }
}%>

<% displayAbilityScoreInput = function(statName){ %>
  <input name="<%=statName %>"  type="text" class="statsValue" value="<%= chara[statName] %>"></input>
<% } %>

<% checkSign = function(value){
  if(value >= 0){
    return "+"+value;
  }

  return value;
} %>

<% displayInfoInput = function(damageInfoName, displayName){ %>
  <h4 type="text" class="characterBasicInfoTitle"><%= displayName %>:</h4>
 <% if(chara[damageInfoName] != ""){ %>
      <input name="<%=damageInfoName %>" type="text" class="characterBasicInfo" value="<%= chara[damageInfoName] %>"><br>
 <% } else { %>
      <input name="<%=damageInfoName %>" type="text" class="characterBasicInfo" value=""><br>
 <% }
   } %>

<% displayAllActionsInput = function(actions, titleDisplayName, actionTempJsonName){ %>
    <h2 class="characterTitle"> <%= titleDisplayName %></h2><br>
    <% if(actions != null){ %>
    <% actions.forEach(function(element){ %>
      <div class="actionDiv">
        Name:<input name='<%=actionTempJsonName+"_name"%>' class="actionTitle" value="<%= element.name %>"></input><br>
        Desc:<input name="<%=actionTempJsonName+"_desc" %>" class="actionInfo" value="<%= element.desc %>"></input><br>
        Attack Bonus:<input name='<%=actionTempJsonName+"_attack_bonus"%>' class="actionTitle" value="<%= element.attack_bonus %>"></input><br>
        Damage Dice:<input name='<%=actionTempJsonName+"_damage_dice"%>' class="actionTitle" value="<%= element.damage_dice %>"></input><br>
        Damage Bonus:<input name='<%=actionTempJsonName+"_damage_bonus"%>' class="actionTitle" value="<%= element.damage_bonus %>"></input><br>
        <button type='button' class='deleteButton' name='button'>X</button><br><br>
      </div>
    <% }); %>
  <% }
}%>

<% addAction = function(actionTempJsonName){ %>
  <div class="actionDiv">
    Name:<input name='<%=actionTempJsonName+"_name"%>' class="actionTitle" value=""></input><br>
    Desc:<input name="<%=actionTempJsonName+"_desc" %>" class="actionInfo" value=""></input><br>
    Attack Bonus:<input name='<%=actionTempJsonName+"_attack_bonus"%>' class="actionTitle" value=""></input><br>
    Damage Dice:<input name='<%=actionTempJsonName+"_damage_dice"%>' class="actionTitle" value=""></input><br>
    Damage Bonus:<input name='<%=actionTempJsonName+"_damage_bonus"%>' class="actionTitle" value=""></input><br>
    <button type='button' class='deleteButton' name='button'>X</button><br><br>
  </div>
<% } %>
